# NextAuth
NEXTAUTH_URL=http://localhost:3001
NEXTAUTH_SECRET=D7Seqs48GNrIx519i7S8WqyQBoAwLiImJkegciWv/nU=

# Google OAuth
GOOGLE_CLIENT_ID=1006488933068-gmuepl5jsi7ee087udm4e75ng8hlf95q.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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 

# Auth debug/testing
# Set to '1' ONLY to force local test session instead of real Google auth
AUTH_FORCE_TEST=0